{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/styles/execute.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/logo.svg' %}">
    <title>Clone of Instagram</title>
</head>
<body>
    <header class="header">
        <div class="header__wrapper">
            <nav class="nav">
                <ul class="nav-list">
                    <li><a class="nav-link" href=""></a></li>
                    <li><a class="nav-link" href=""></a></li>
                    <li><a class="nav-link" href=""></a></li>
                    <li><a class="nav-link" href=""></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        <article class="article">
            <section class="home-page">
                <h2 class="page-title">Instagram - Home</h2>
                <p class="page-description">This is clone of Instagram</p>
            </section>
        </article>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">

        </div>
    </footer>
</body>
</html>